@mixin headerBackgroundGradient() {
  background: rgba(255, 255, 255, 0.9);
  background: -webkit-linear-gradient(top left, rgba(255, 255, 255, 1.0), rgba(209, 200, 200, 0.9));
  background: -moz-linear-gradient(top left, rgba(255, 255, 255, 1.0), rgba(209, 200, 200, 0.9));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 1.0), rgba(209, 200, 200, 0.9  ));
}

.header {
  @include headerBackgroundGradient;
  text-align: center;
  padding: 6px 0;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 1);
  position: sticky;
  z-index: 5;
  top: 0;
  transition: all 0.2s ease;

  form {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(158, 166, 228, 1);
  }
}

.logo {
  width: 130px;
  object-fit: contain;
}

.headerSearchBtn,
.headerSearchBtnHandler {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

.headerSearchBtnHandler {
  margin: 0 auto;
}

.headerSearchInput {
  border: none;
  outline: none;
  width: 100%;
}

.headerAccountIcon {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: rgba(51, 51, 51, 0.9);
  font-size: 22px;
  font-weight: 500;

  &:hover {
    color: rgba(68, 68, 167, 0.5);
  }
}

ul {
  gap: 36px;
  align-items: center;

  div {
    font-size: 22px;
    font-weight: 500;
    color: rgba(51, 51, 51, 0.9);

    &:hover {
      color: rgba(68, 68, 167, 0.5);
    }
  }
}


svg {
  fill: rgba(51, 51, 51, 0.9);
  transition: 0.2s;
  &:hover {
    transform: scale(1.2);
    fill: rgba(68, 68, 167, 0.5);
  }
}