@mixin headerBackgroundGradient() {
  background: rgb(167, 236, 225);
  background: linear-gradient(90deg, rgba(167, 236, 225, 0.9) 0%, rgba(209, 200, 200, 0.9) 35%, rgba(143, 188, 197, 0.8) 100%);
}

.header {
  @include headerBackgroundGradient;
  width: 100%;
  text-align: center;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.8);
  position: sticky;
  z-index: 100;
  top: 0;
  transition: all 0.3s ease;

  form {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(158, 166, 228, 1);
  }
}

.logo {
  width: 100px;
  flex-shrink: 0;
}

.headerSearchBtn,
.headerSearchBtnHandler {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

.headerSearchBtnHandler {
  margin: 0 auto;
}

.headerSearchInput {
  border: none;
  outline: none;
  width: 100%;
}

.headerAccountIcon {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: rgba(51, 51, 51, 0.9);
  font-size: 20px;
  font-weight: 500;

  &:hover {
    color: rgba(68, 68, 167, 0.5);
  }
}

ul {
  gap: 15px;
  align-items: center;

  div {
    font-size: 20px;
    font-weight: 500;
    color: rgba(51, 51, 51, 0.9);

    &:hover {
      color: rgba(68, 68, 167, 0.5);
    }
  }
}

svg {
  fill: rgba(51, 51, 51, 0.9);
  transition: 0.2s;

  &:hover {
    transform: scale(1.2);
    fill: rgba(68, 68, 167, 0.5);
  }
}

.icon {
    margin-left: 15px;
    >svg{
    height: 36px;
    width: 36px;
  }
}