$bosom_green: rgb(167, 236, 225);
$bosom_light_green: rgba(167, 236, 225, 0.3);
$bosom_gray:  rgba(143, 188, 197, 1);
$bosom_light_gray: rgba(143, 188, 197, 0.3);
$bosom_violet: rgba(68, 68, 167, 1);
$bosom_light_violet: rgba(68, 68, 167, 0.5);

.comments__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  & p{
    margin: 0;
  }
}

.comments__item {
  width: 100%;
  border: 1px solid $bosom_gray;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.comment__content {
 display: flex;
 align-items: center;
 gap: 12px;
}

.comments__avatar {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 3px solid $bosom_gray;
}

.comment__all_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.comment__description_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.comment__author {
  font-weight: 600;
}

.comment__description {
  font-size: 14px;
  line-height: 100%;
  margin: 0;
  text-align: end;
  & span {
    font-weight: 300;
  }
}

.comment__btn_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 36px;
}

.comment__btn {
  font-size: 16px;
  line-height: 100%;
  background: $bosom_gray;
  color:white;
  padding: 10px 16px;
  border-radius: 5px;
  transition: 0.1s;
  &:hover {
    transform: scale(0.95);
    background: $bosom_light_violet;
  }
}

.forum__form_container {
  text-align: end;
}

.forum__form_field {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  & textarea {
    width: 100%;
    height: 100px;
    padding: 12px 24px;
    border-radius: 5px;
    border: 3px solid $bosom_gray;
  }
}

.forum__btn {
  font-size: 16px;
  line-height: 100%;
  background: $bosom_gray;
  color:white;
  padding: 10px 16px;
  border-radius: 5px;
  transition: 0.1s;
  &:hover {
    transform: scale(0.95);
    background: $bosom_light_violet;
  }
}