.news{
  padding: 80px 0;
}
.newsHeading{
  font-size: 36px;
  margin-bottom: 40px;
}
.allNews{
  padding: 15px 25px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.15em;
  font-weight: 500;
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #7E83A6 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: all 1s ease-in-out;
  &:hover{
    background-position: right center;
  }
}

