.heading{
  text-align: center;
}
.tree {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px 0;
}

.tree ul {
  position: relative;
  padding: 20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.tree li {
  list-style-type: none;
  float: left;
  position: relative;
  text-align: center;
  transition: all 0.5s;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  width: 100%;
  background: linear-gradient(to top, rgba(196,219,214,0.9), rgba(168,204,255,1));
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

}
.branchWrapper:not(:first-child), .branchWrapper:nth-child(2),{
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 10px auto 0;
  color: #fff;
  font-size: 20px;
}
.branch{

}
