$max-tablet-width: '991px';
$max-mobile-width: '767px';
$max-small-width: '249px';

@mixin tablet {
  @media(max-width: $max-tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media(max-width: $max-mobile-width) {
    @content;
  }
}

@mixin small_screen {
  @media(max-width: $max-small-width) {
    @content;
  }
}


.topSection {
  padding: 80px 0;
  @include tablet{
    padding: 40px 0;
  }
}

.topWrapper {
  width: 100%;
  max-width: 580px;
  @include tablet{
    margin: 0 auto 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.topHeading {
  width: 100%;
  font-size: 38px;
  word-wrap: break-word;
  margin-bottom: 40px;
  @include mobile{
    font-size: 30px;
  }
  @include small_screen{
    font-size: 26px;
  }
}

.topDescription {
  width: 100%;
  max-width: 460px;
  @include tablet{
    max-width: 100%;
  }
}

.mainFoto {
  border-radius: 50%;
  transition: all 5s ease-in-out;
  &:hover{
    transform: scale(1.1);
  }
}
