.sources {
  padding: 80px 0;
}

.sourcesHeading {
  font-size: 36px;
  margin-bottom: 40px;
}

.sourcesItem {
  width: 100%;
  max-width: 320px;
  height: 320px;
  margin: 0 auto;
  padding: 20px;
  //box-shadow: inset 0 0 3px rgba(38, 38, 38, 0.5);
  box-shadow: inset 0 0 20px rgba(126,131,166,0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sourcesIcon {
  font-size: 42px;
}



