@import '../../assets/styles/variables';

.topic { 
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  border: none;
  background-color:rgba($primary-text-color, 0.05);
  border: 1px solid rgba($primary-text-color, 0.3);
  border-radius: 5px;
}

.topic_content {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  & span {
    font-weight: 500;
  }
}

.form_container {
  max-width: 1300px;
  min-height: 300px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 12px 48px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.forum__btn {
  font-size: 18px;
  line-height: 100%;
  background:rgba($primary-text-color, 0.1);
  color:white;
  padding: 12px 24px;
  border-radius: 5px;
  transition: 0.3s;
  &:hover {
    transform: scale(0.98);
    background:rgba($primary-text-color, 0.8);
  }
}

.forum_field{
  display: flex;
  flex-direction: column;
  width: 100%;
  & input {
   background-color: transparent;
   border-radius: 5px;
  padding: 12px 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.btn {
  padding: 6px;
  border: none;
  background-color: transparent;
  >svg{
    height: 24px;
    width: 24px;
    &:hover {
      transform: scale(0.9);
      fill:rgba(211, 112, 0, 0.616);
    }
  }
  
}

.btn_section {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}