@import '../../assets/styles/variables';

.container {
	flex-grow: 3;
	margin: 50px auto 50px;
	max-width: 1344px;
	width: 100%;

	h1 {
		margin-bottom: 20px;
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 140%;
		color: $primary-text-color;
		opacity: 0.85;
	}
}
