@import '../../assets/styles/variables';
.main {
	margin-top: 50px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}
.sidebar {
	margin-left: 10px;
	max-width: 350px;
	width: 100%;
	border: none;
	border-radius: 30px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}
.wrapper {
	width: 100%;

	border: none;
	border-radius: 30px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}
.container {
	width: 100%;
}

.back {
	width: 100%;
	min-height: 200px;
	background: rgb(172, 181, 255);
	background: linear-gradient(
		75deg,
		rgba(172, 181, 255, 1) 0%,
		rgba(88, 88, 88, 1) 100%
	);
}
.img {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -100px;
	.avatar {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		border: 10px solid #ffffff;

		margin-left: 50px;
		cursor: pointer;
	}
	button {
		overflow: hidden;
		border-radius: 20px;
		background-color: rgba(172, 181, 255, 1);
		border: 10px solid #ffffff;
		margin-right: 50px;
	}
}

.data {
	margin-left: 100px;
	padding-bottom: 30px;
}
.name {
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	input {
		width: 125px;
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 140%;
		color: $primary-text-color;
	}
}
.input {
	//заглушка
	background-color: transparent;
	margin-top: 10px;
	padding: 3px;
	cursor: pointer;
	border: none;
}
.address {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	label {
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 140%;
		color: rgba($primary-text-color, 0.25);
	}
	input {
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 140%;
		color: rgba($primary-text-color, 0.25);
	}
}
.textarea {
	margin-top: 10px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	label {
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 140%;
		color: rgba($primary-text-color, 0.25);
	}
	input {
		text-align: justify;
		resize: none;
		border: none;
		height: fit-content;
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 140%;
		color: rgba($primary-text-color, 0.25);
	}
}
