@import '../../assets/styles/variables';

$max-tablet-width: '991px';
$max-mobile-width: '768px';
$max-sm-mobile-width: '575px';

@mixin tablet {
  @media(max-width: $max-tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media(max-width: $max-mobile-width) {
    @content;
  }
}

@mixin sm-mobile {
  @media(max-width: $max-sm-mobile-width) {
    @content;
  }
}

.item {
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba($primary-text-color, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &_sent{
    background-color: rgba(121, 255, 215, 0.7);   
  }
  p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 90%;
  }
  span{
    align-self: flex-end;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 90%;
  }
  }



.sidebar {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 270px;
	padding: 10px 10px 20px 0; 
	border-right: 2px solid rgba(0, 0, 0, 0.25);
  

	> h3 {
		margin-bottom: 10px;
		padding-left: 5px;
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 140%;
		color: $primary-text-color;
	}

  >h3{
		padding: 10px 5px;
	}
	p,h4,a{
		padding: 10px 5px;
	}

  @include tablet() {
    margin-left: 20px;
    max-width: 100%;
    gap:0px;
    border:none;
    h3 {
      margin-bottom: 5px;
  }}
}
.buttonBottom{
  margin:10px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  >button{
    padding:10px 20px;
    margin: 0;
    border:none !important; 
    border-radius: 10px;
    >svg{
      width: 24px;
      height: 24px;
      fill:rgba(#333333, 1);
    }
    &:first-child{
      background-color: rgba(#b40303,0.7);
    }
    &:last-child{
      background-color: rgba(#439414,0.7);
    }
  }
  
}
.sidebarItem{
  display: flex;
  justify-content: left;
  align-items: center;
  gap:5px;
 
  >svg{
    width: 32px;
    height: 32px;
  }
  >p{
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }
}

.wrapper {
  margin:20px 0;
  width: 100%;
  min-height: 90vh; 
  border: none;
	margin-bottom: 40px;
  overflow: hidden;
}

.message{
    background-color: $primary-color;
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
  
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    >svg{
      width: 24px;
      height: 24px;
      fill:rgba(172, 181, 255, 1);
    }
  
}

.back {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: start;
  gap:20px;
  border-radius: 20px;
  min-height: 230px;
  background: rgb(0, 255, 179);
  background: linear-gradient(
                  75deg,
                  rgba(121, 255, 215, 0.5) 0%,
                  rgba(117, 117, 117, 0.5) 100%
  );
  >button{
    color: #333333;
    border-radius: 10px;
    >svg{
      width: 24px;
      height: 24px;
      fill: rgba(68, 68, 167, 0.7);
    }
  }
  
}

.textHTML{
  min-height: 90vh; 
  background-color: transparent;
  @include tablet() {
    min-height: 100%; 
  }
  
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -100px 0 0;
  @include tablet() {
    justify-content: center;
  }

  .avatar {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    cursor: pointer;
    @include tablet() {
      margin: 0 auto;
    }
  }
}

.data {
  position: relative;
  
  @include tablet() {
    margin: 0 auto;
    padding: 0 0 60px 0;
  }

  button {
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(172, 181, 255, 1);
    border: 5px solid #ffffff;
    
  }
}

.name {
  margin: 0 auto;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;

  input {
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $primary-text-color;
    min-height: 10px;
    @include mobile() {
      width: 100%;
    }
  }
  
}

.input {
  //заглушка
  background-color: transparent;
  margin-top: 10px;
  padding: 3px;
  cursor: pointer;
  border: none;
}
.phone {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  svg{
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-color:       rgba(68, 68, 167, 0.7);
        fill:#ffffff;
    width: 32px;
    height: 32px;
    margin-right: 5px;
  }
  @include tablet() {
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-top: 20px;
  }


  label {
	  //padding-left: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: rgba($primary-text-color, 0.4);
    width: 100%;
    margin-top: 20px;
  }

  input {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    height: fit-content;
    color: rgba($primary-text-color, 0.25);
    width: 100%;
    @include tablet() {
      width: 100%;
    }
  }
}

.address {
  width: 100%;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include tablet() {
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-top: 20px;
  }


  label {
	  //padding-left: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: rgba($primary-text-color, 0.4);
    width: 100%;
    margin-top: 20px;
  }

  input {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    height: fit-content;
    color: rgba($primary-text-color, 0.25);
    width: 100%;
    @include tablet() {
      width: 100%;
    }
  }
}

.textarea {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  label {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: rgba($primary-text-color, 0.25);
  }

  input {
    text-align: left;
    resize: none;
    border: none;
    height: fit-content;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: rgba($primary-text-color, 0.25);
    flex-basis: 50%;
    flex-shrink: 0;
    overflow-x: hidden;
  }
}

.recentHeading {
  margin-bottom: 20px;
	padding: 20px 0 0 20px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: $primary-text-color;
}

.favorites {
  margin:20px 0;
  width: 100%;
  min-height: 90vh; 
	display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  @include tablet() {
    min-height: 100%;
	  width: 100%;
	  grid-template-columns: repeat(2,1fr);
  }
  @include mobile() {
    min-height: 100%;
	  width: 100%;
	  grid-template-columns: repeat(1,1fr);
  }
	p {

		font-family: 'Rubik';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 120%;
		color: $primary-text-color;
		opacity: 0.7;
		max-width: 90%;
		width: 100%;
	}

}
.selectedItem{
  padding: 0 5px;
  background-color: rgba(68, 68, 167, 0.7);
  border: none;
  border-radius: 5px;
  svg{
    fill:#ffffff;
  }
  p{
    color: #ffffff;
  }
}
.notifications{
  min-height: 90vh; 
}
.formContainer{
  margin: 40px auto 40px;
  min-height: 90vh; 
  width: 100% ;
  display: flex;
  flex-direction: column;
  align-items: center;
  >h3{
  text-align: center;
    font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(59, 59, 59, 0.5);;
  }

  @include tablet() {
    min-height: 100%;
  }
}

.form {
  margin: 40px auto;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid rgba(68, 68, 167, 0.3);
  background-image: linear-gradient(-225deg, rgba(227, 253, 245, 0.3) 50%, rgba(220, 220, 220, 0.3) 50%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.frame {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
}

.frame label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: start;
  color: #333333;
  width: 100%;
}

.login_field_width {
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid rgba(68, 68, 167, 0.3);
  font-size: 18px;
  color: #333333;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 0.1rem rgba(120, 194, 173, 0.25);
    border: 2px solid #D0EAE2;
  }
  &:hover {
    border-color: #D0EAE2;
  }
}
.closeBtn{
  text-align: end;
  font-size: 16px;
}
.resetBtn {
  margin: 30px auto 0;
  padding: 10px 20px;
  width: 100%;
  max-width: 200px;
  background: rgba(68, 68, 167,1.0);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.3s;
  &:hover {
    background: rgba(68, 68, 167, 0.9);
    transform: scale(0.95);
  }
}
.login_text {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .login_container {
    gap: 10px;
  }
  .login_btn {
    max-width: 100%;
  }
  .form {
    padding: 10px;
  }
}
@media screen and (max-width: 259px) {
  .login_container {
    gap: 5px;
  }

}