@import '../../assets/styles/variables';

.profile {
	padding: 0 20px;
	margin: 50px auto;
	margin-top: 50px;

	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 1344px;
	width: 100%;
}
.articles {
	padding: 40px 0;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: none;
	border-radius: 30px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	> h2 {
		padding: 0 20px;
		margin-bottom: 40px;
		text-align: center;
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 140%;
		color: $primary-text-color;
		opacity: 0.85;
	}
	> p {
		margin-right: 30px;
		align-self: flex-end;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 140%;
		color: $primary-text-color;
		opacity: 0.7;
	}
	> img {
		width: 100%;
	}
}
.innerHTML {
	padding: 0 20px;
	margin-top: 40px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 140%;
	color: $primary-text-color;
	opacity: 0.7;
	ul {
		list-style: none;
	}
}

.right {
	max-width: 350px;
	border: none;
	border-radius: 30px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	>h3{
		padding: 10px 5px;
	}
	p,h4,a{
		padding: 10px 5px;
	}
}

.favorite{
	padding: 0 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.btn{
	>svg{
		width: 24px;
		height: 24px;
		fill:#ff0101;
	}
}
