$primary-color: #f8f9fa;
$primary-text-color: #000000;
$text-gray: #727272;
$slick-font-family: "slick" !default;
$slick-arrow-color: white !default;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;
