@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import './variables';
@import 'react-redux-toastr/src/styles/index';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'react-quill/dist/quill.snow.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(225, 226, 227, 0.3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/*Общие стили*/
ul, li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
}

button {
  border: 0;
  outline: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

//a.active {
//  font-weight: 600;
//  color: brown;
//}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

input {
  box-sizing: border-box;
}


/*Переопределение bootstrap header nav*/
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: 0 0 2px #000;
}

.nav-item {
  margin-right: 15px;
}

li.nav-item.active, li.nav-item:hover, li.nav-item:focus {
  border-bottom: 1px solid rgba(38, 38, 38, 0.4);
}

.dropdown-item.active, .dropdown-item:active {
  background-color: rgba(38, 38, 38, 0.5);
  color: #fff;
}

.navbar-custom {
  background: transparent !important;
}

.rmsc {
  --rmsc-main: #d3b288 !important;
  --rmsc-hover: #d3b288 !important;
  --rmsc-selected: #d3b288 !important;
  --rmsc-border: #ccc;
  --rmsc-gray: #aaa;
  --rmsc-bg: #fff;
  //--rmsc-p: 10px; /* Spacing */
  //--rmsc-radius: 4px; /* Radius */
  //--rmsc-h: 38px; /* Height */
}


.ais-Hits-list {
  margin: 30px auto 0 !important;
  width: 100%;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.ais-Hits-item {
  margin-top: 0 !important;
  margin-left: 0 !important;
  padding: 0 !important;
  width: auto !important;
  border: none !important;
  box-shadow: none !important;
  height: 100%;
}

.ais-SearchBox-input {
  margin: 20px 0;
}

.ais-Pagination {
  margin: 60px 0 20px;
}

@media (min-width: 600px) and (max-width: 900px) {
  .ais-Hits-list {
    margin: 30px auto 0 !important;
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

}

@media (min-width: 287px) and (max-width: 600px) {
  .ais-Hits-list {
    margin: 30px auto 0 !important;
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr;
    gap: 20px;
  }

}
//Media for small screen
@media screen and (max-width: 286px) {
  body, li {
    word-wrap: break-word !important;
  }
  h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
  }
  div.menu_link.dropdown-toggle {
    width: 100% !important;
  }
  ul.dropdown-menu.show {
    width: 95vw !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  a.dropdown-item {
    font-size: 13px !important;
  }

}

.ql-editor {
  min-height: 120px;
}

//Carousel
.carousel-item {
  height: 480px;
  position: relative;
  overflow: hidden;
}

.carousel-item > img.d-block {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

//Slick-slider
.slick-center {
  transform: scale(1.2);
  transition: transform 1000ms;
}

.slick-slider {
  position: relative;
  min-width: 0;
  padding: 0 10px;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-list {
  overflow: hidden;
}


.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 30px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
  &:hover, &:focus {
    outline: none;
    background: transparent;
    color: transparent;
    &:before {
      opacity: $slick-opacity-on-hover;
    }
  }
  &.slick-disabled:before {
    opacity: 0.6;
  }
}

.slick-prev:before, .slick-next:before {
  font-family: $slick-font-family;
  font-size: 20px;
  line-height: 1;
  color: #000;
  opacity: $slick-opacity-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -15px;
  [dir="rtl"] & {
    left: auto;
    right: -15px;
  }
  &:before {
    content: $slick-prev-character;
    [dir="rtl"] & {
      content: $slick-next-character;
    }
  }
}

.slick-next {
  right: -15px;
  [dir="rtl"] & {
    left: -15px;
    right: auto;
  }
  &:before {
    content: $slick-next-character;
    [dir="rtl"] & {
      content: $slick-prev-character;
    }
  }
}

.page-title {
  margin: 30px 0;
  font-family: "Rubik";
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: $primary-text-color;
  opacity: 0.85;
}

//PdfViewer
.react-pdf__Document {
  overflow-x: scroll;
}

.react-pdf__Page {
  margin-top: 10px;

}

.react-pdf__Page__textContent {
  height: 0;
  display: none;

}

.react-pdf__Page__annotations.annotationLayer {
  padding: 20px;
  height: 0 !important;
  width: 100% !important;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 100% !important;
  max-width: 700px;
  height: 100% !important;
  border: 1px solid rgba(169,169,169,0.4);
  box-shadow: 2px 2px 5px 1px #ccc;
  border-radius: 5px;
}

@media screen and (max-width: 567px) {
  .react-pdf__Page__canvas {
    width: 500px !important;
    max-width: 500px;
  }
}
//.all-page-container {
//  height: 100%;
//  max-height: 500px;
//  overflow: auto;
//}
.mt-negative-15{
  margin-top: -15px;
}