@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import './variables';
@import 'react-redux-toastr/src/styles/index';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(225,226,227,0.3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Общие стили*/
ul, li {
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}
h2{
  text-align: center;
}

button {
  border: 0;
  outline: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

a.active {
  font-weight: 600;
  color: brown;
}
img{
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
input{
  box-sizing: border-box;
}
/*Переопределение bootstrap header nav*/
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: 0 0 2px #000;
}
.nav-item{
  margin-right: 15px;
}

li.nav-item.active,li.nav-item:hover,li.nav-item:focus{
  border-bottom:1px solid rgba(38, 38, 38, 0.4);
}

.dropdown-item.active, .dropdown-item:active {
  background-color: rgba(38, 38, 38, 0.5);
  color:#fff;
}

.navbar-custom {
  background: transparent !important;
}

.rmsc {
	--rmsc-main: #d3b288 !important;
	--rmsc-hover: #d3b288 !important;
	--rmsc-selected: #d3b288 !important;
	--rmsc-border: #ccc;
	--rmsc-gray: #aaa;
	--rmsc-bg: #fff;
	--rmsc-p: 10px; /* Spacing */
	--rmsc-radius: 4px; /* Radius */
	--rmsc-h: 38px; /* Height */
}
@media screen and (max-width: 286px) {
  body,li{
    word-wrap: break-word !important;
  }
  h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
  }
  div.menu_link.dropdown-toggle {
    width: 100% !important;
  }
  ul.dropdown-menu.show {
    width: 95vw !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  a.dropdown-item {
    font-size: 13px !important;
  }
}
.carousel-item {
  height: 480px;
  position: relative;
  overflow: hidden;
}

.carousel-item > img.d-block{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}