@import '../../assets/styles/variables';

$max-mobile-width: '768px';

@mixin mobile {
  @media(max-width: $max-mobile-width) {
    @content;
  }
}

.heading {
  margin: 30px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: $primary-text-color;
  opacity: 0.85;
  @include mobile() {
    text-align: center;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 600px;
  @include mobile() {
    justify-content: space-evenly;
  }
}

.current, .last {
  padding: 20px 0;
}

.sectionHeading {
  margin-bottom: 20px;
  text-align: left;
  @include mobile(){
    text-align:  center;
  }
}

.sectionWrapper {
  padding: 30px 0;
  border-top: 2px solid #aaaaaa;
}