$max-mobile-width: '768px';

@mixin mobile {
  @media(max-width: $max-mobile-width) {
    @content;
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.cardsItem {
  //width: 100%;
  flex-basis: 30%;
  flex-grow: 1;
  //min-width: 400px;
  min-width: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  @include mobile(){
    min-width: 100%;
  }
}

.cardsImageWrapper {
  width: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 300px;

  img {
    width: 100%;
    height: 100%;
  }
}

.searchBtn {
  display: none;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;

  img {
    width: 32px;
    height: 32px;
  }
}


.cardsImageWrapper:hover .searchBtn {
  display: flex;
}
