@import '../../assets/styles/variables';

$max-mobile-width: '768px';

@mixin mobile {
  @media(max-width: $max-mobile-width) {
    @content;
  }
}

.heading {
  margin: 30px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: $primary-text-color;
  opacity: 0.85;
  text-align: center;
}


.docsWrapper {
  padding: 30px 0;
  border-top: 2px solid rgba(170,170,170,0.4);
  list-style: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
}

.docsWrapper li {
  padding: 7px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 10px solid rgba(126,131,166,0.5);
  box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
  -2px -2px 5px 0 rgba(0,0,0,.1),
  2px 2px 5px 0 rgba(0,0,0,.1),
  -2px 2px 5px 0 rgba(0,0,0,.1);
  font-size: 20px;
  letter-spacing: 2px;
  transition: 0.3s all linear;
  cursor: pointer;
}
.docsWrapper li:nth-child(2n+1){border-color: rgba(174,165,200,0.5);}
.docsWrapper li:nth-child(2n){border-color: rgba(53,195,200,0.5);}
.docsWrapper li:hover {border-left: 10px solid transparent;}
.docsWrapper li:nth-child(2n+1):hover {background:  rgba(174,165,200,0.2);}
.docsWrapper li:nth-child(2n):hover {background:  rgba(53,195,200,0.1);}


