$max-tablet-width: '991px';
$max-mobile-width: '767px';
$max-small-width: '249px';

@mixin tablet {
  @media(max-width: $max-tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media(max-width: $max-mobile-width) {
    @content;
  }
}

@mixin small_screen {
  @media(max-width: $max-small-width) {
    @content;
  }
}

.courses {
  padding: 80px 0;
}

.coursesHeading {
  font-size: 36px;
  margin-bottom: 40px;
  @include mobile {
    font-size: 30px;
  }
  @include small_screen {
    font-size: 26px;
  }
}

.captionStyle {
  font-size: 38px;
  @include mobile {
    font-size: 24px;
  }
}

.linkStyle {
  color: #fff;
  font-size: 24px;
  @include mobile {
    font-size: 22px;
  }
}

.sliderWrapper{

}

.allEvents{
  padding: 15px 25px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.15em;
  font-weight: 500;
  display: block;
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin: 30px auto 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #7E83A6 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: all 1s ease-in-out;
  &:hover{
    background-position: right center;
  }
}