@import '../../assets/styles/variables';

.gallery {
    margin: 30px auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    img {
        cursor: pointer;
    }
}
.description {
    margin: 30px 0;
    font-family: "Rubik";
    font-size: 22px;
    line-height: 140%;
    color: $primary-text-color;
    opacity: 0.85;
}
.eventTitle {
    margin: 10px 0;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    color: $primary-text-color;
    opacity: 0.85;
}
