$bosom_green: rgb(167, 236, 225);
$bosom_gray: rgba(143, 188, 197, 1);
$bosom_light_gray: rgba(143, 188, 197, 0.3);
$bosom_violet: rgba(68, 68, 167, 1);
$bosom_light_violet: rgba(68, 68, 167, 0.5);

.forum__form_container {
  width: 100%;
  margin: 32px auto;
  border-radius: 5px;
  padding: 24px 48px;
  background-color: $bosom_light_gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.forum__form_title {
  font-size: 20px;
  margin: 0;
}

.forum__form_field {
  display: flex;
  width: 100%;

  & input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 5px;
    border: 1px solid $bosom_gray;
  }
}

.forum__form_description {
  width: 100%;
  height: 150px;
  padding: 12px 24px;
  border-radius: 5px;
  border: 1px solid $bosom_gray;
}

.forum__btn {
  font-size: 16px;
  line-height: 100%;
  background: $bosom_gray;
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  transition: 0.1s;
  align-self: flex-start;

  &:hover {
    transform: scale(0.95);
    background: $bosom_light_violet;
  }
}