@import '../../assets/styles/variables';

$max-tablet-width: '991px';
$max-mobile-width: '768px';
$max-sm-mobile-width: '575px';

@mixin tablet {
  @media(max-width: $max-tablet-width) {
    @content;
  }
}

.wrapper{
    min-height: 100%;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    min-height: 100%;
    @include tablet() {
      flex-wrap: wrap;
    }
  }